@model FastFoodShop.Domain.Entities.User
@{
    ViewData["Title"] = "Detail User - FastFood Shop";
    Layout = null; // tự include header/sidebar/footer
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="FastFood Shop" />
    <meta name="author" content="FastFood Shop" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    @await Html.PartialAsync("~/Views/Admin/Layout/_Header.cshtml")

    <div id="layoutSidenav">
        @await Html.PartialAsync("~/Views/Admin/Layout/_Sidebar.cshtml")

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Manage Users</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="User" asp-action="Index">Users</a>
                        </li>
                        <li class="breadcrumb-item active">Detail</li>
                    </ol>

                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-12 mx-auto">
                                <div class="d-flex justify-content-between">
                                    <h3>User detail with id = @Model.Id</h3>
                                </div>

                                <hr />

                                <div class="card" style="width: 60%">
                                    <div class="card-header">
                                        User information
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">ID: @Model.Id</li>
                                        <li class="list-group-item">Email: @Model.Email</li>
                                        <li class="list-group-item">Full Name: @Model.FullName</li>
                                        <li class="list-group-item">Phone: @Model.Phone</li>
                                        <li class="list-group-item">Address: @Model.Address</li>
                                        <li class="list-group-item">Role: @Model.Role?.Name</li>

                                    </ul>
                                </div>

                                <a asp-controller="User" asp-action="Index" class="btn btn-success mt-3">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            @await Html.PartialAsync("~/Views/Admin/Layout/_Footer.cshtml")
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
</body>

</html>